@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

body {
  /* background-image: url('../images/lightning.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--white-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0 200px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --primary-color: rgb(233, 230, 230);
  --secondary-color: rgb(22, 22, 22);
  --accent-color: rgb(122, 120, 120);

  --white-color: var(--primary-color);
  --black-color: var(--secondary-color);
  --light-gray: var(--accent-color);

  --glass-bg: rgba(255, 255, 255, 0.01);
  --glass-bg-light: rgba(255, 255, 255, 0.22);
  --glass-bg-dark: rgba(24, 22, 22, 0.11);
  --glass-border: rgba(94, 94, 94, 0.5);
  --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  --glass-blur: blur(6px);
  --glass-radius: 20px;

  --wcag-button-padding: 0.5rem 1rem;
}

/* Typography */
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  margin-bottom: 2em;
}

h1,
h2,
h3,
p {
  font-weight: 300;
}

p {
  font-size: 1.1rem;
  padding: 0.1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  margin-bottom: 10px;
}
ul > li {
  background: var(--glass-bg-light);
  border-bottom: 1px solid var(--accent-color);
  color: var(--black-color);
  border-radius: 5px;
}
/* Layout */
/* ---- General ----- */

section {
  /* padding: 4rem 10rem; */
}

.column {
  padding: 1rem;
}

/* ---- Header & Input ----- */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.drop-container {
  position: absolute;
  top: 18%;
  z-index: 1000;
  width: 355px;
}
.drop-down-element {
  border-bottom: 1px solid var(--accent-color);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: blur(1px);
  color: var(--black-color);
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 1rem 0.5rem;
  font-size: 15px;
}
.drop-down-element:hover {
  background: var(--glass-bg-dark);
}
.input-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.current-weather-text {
  font-size: 20px;
}

/* ---- Forecast / history group ----- */

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: blur(5px);
  background: var(--glass-bg);
  border: 1px solid var(--glass-border);
  border-radius: 1em;
  max-width: 80em;
  min-width: auto;
  min-height: 60vh;
  margin: 4rem auto;
  background: rgba(97, 98, 104, 0.2);
}

.weather-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.forecast-history-container {
  /* margin: 4rem 0; */
}

#forecast {
  background: var(--glass-bg-dark);
  border-radius: var(--glass-radius);
  backdrop-filter: blur(25px);
  margin: 0;
}

.forecast-box {
  margin: 1rem;
}
.forecast-box:not(:last-child) {
  border-bottom: 1px solid var(--light-gray);
}

#history {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--glass-bg-dark);
  border-radius: var(--glass-radius);
  backdrop-filter: blur(25px);
  margin: 2rem 0;
  padding: 0.5rem;
}
.visually-hidden {
  position: absolute;
  left: -9999px;
}

.history-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;

  button {
    cursor: pointer;
  }
  /* padding: 0.1rem 1rem; */
  /* margin: 1rem 0; */

  /*   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
  /*   transition: transform 0.15s ease, box-shadow 0.15s ease; */
}

/* .history-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
} */

/*wcag*/
#send-input {
  padding: var(--wcag-button-padding);
  min-height: 44px;
  min-width: 44px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#send-input:focus,
#input:focus,
.drop-down-element:focus {
  outline: 3px solid #005fcc;
  outline-offset: 3px;
}
#input {
  height: 3em;
  width: 40rem;
  border-radius: 5px;
  border: none;
}
.delete-history {
  border-radius: 50%;
  padding: 2px 5px;
  border: 2px solid var(--accent-color);
}
#city-search-label {
  margin: 1em 0;
}

@media (max-width: 900px) {
  body {
    padding: 70px;
  }
  .weather-container {
    min-width: 70vw;
    padding: 1.5rem;
  }

  .info {
    flex-direction: column;
  }

  #forecast,
  .history {
    max-width: 100%;
  }
}

/* mobile */
@media (max-width: 600px) {
  body,
  main {
    padding: 20px;
  }
  .info {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .weather-container {
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
  }
}

.sun {
  background-image: url('/weather/images/sun.jpg');
}
.cloudy {
  background-image: url('/weather/images/cloudy.jpg');
}

.foggy {
  background-image: url('/weather/images/foggy.jpg');
}

.rain {
  background-image: url('/weather/images/rain.jpg');
}

.snow {
  background-image: url('/weather/images/snow.jpg');
}

.lightning {
  background-image: url('/weather/images/lightning.jpg');
}
